.dashboard-btn {
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  width: 15rem;
  padding: 1rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 255, 255, 0.34);
  color: white;
  font-family: "Varela Round";
  text-transform: uppercase;
  cursor: pointer;
}
